# Set this only when the Expo development host and Laravel API run on different machines.
EXPO_PUBLIC_API_BASE_URL=http://192.168.0.105:8000/api

# Google OAuth Credentials
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=1060509098822-39ebe96ve5eq28g5p038mmt6gua5caf4.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=1060509098822-s4mtiu3o4dg8t8be75c3jejuburtajbb.apps.googleusercontent.com

